body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: monospace, Verdana, sans-serif;
    margin: 0;
    font-size: 1.5em
}

.charts {
    display: flex;
    flex-wrap: wrap
}

.chart-container {
    position: relative;
    min-height: 300px;
    width: 100%;
    max-width: 100%
}

@media screen and (min-width:768px) {
    .chart-container {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .chart-container {
        max-width: 33%;
    }
}